body {
    font-family: Roboto Condensed;
}
.title {
    font-family: patua one;
}
.mainContainer {
        padding: 0;
    /*border: 20px solid #000;*/
    /*border-radius: 10px;*/
    /*height: 500px;*/
    /*height: 100%;*/
    width: 100%;
    min-height: 480px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.uiview {
    overflow-y: auto;
    overflow-x: hidden;
        /*height: 100%;*/
    height: 93%;
    padding-bottom: 30px;
}
.uiview::-webkit-scrollbar {
    width: 0px;
}
.uiview::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.15)!important;
    background-color: rgba(0, 0, 0, 0.13);
}
.uiview::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.6)!important;
}
.uiview::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


.device-header {
    color: #807E7E;
    background-color: #EBEEEF;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 2px #EAE9E9;
}
.header-username {
    padding-left: 3px;
    vertical-align: text-top;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.col-vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.form-box {
    /*margin-top: 35px;*/
}
.form-top {
    overflow: hidden;
    padding: 0 25px 0px 25px;
    background: rgba(243, 240, 240, 0.59);
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
    border: 1px solid #F3F0F0;
    border-bottom: 0;
}
.form-bottom {
    padding: 25px 25px 30px 25px;
        /*background: #F5F4F4;*/
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}
.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}
.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}
.pointer {
    cursor: pointer;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.p-none {
    padding: 0 0;
}
.p-xxs {
  padding: 5px;
}
.p-xs {
  padding: 10px;
}
.p-sm {
  padding: 15px;
}
.p-m {
  padding: 20px;
}
.p-md {
  padding: 25px;
}
.p-lg {
  padding: 30px;
}
.p-xl {
  padding: 40px;
}

.p-t-none {
  padding-top: 0px;
}
.p-t-xxs {
  padding-top: 5px;
}
.p-t-xs {
  padding-top: 10px;
}
.p-t-sm {
  padding-top: 15px;
}
.p-t-m {
  padding-top: 20px;
}
.p-t-md {
  padding-top: 25px;
}
.p-t-lg {
  padding-top: 30px;
}
.p-t-xl {
  padding-top: 40px;
}

.p-sides-xs {
    padding: 0 5px;
}
.p-sides-none {
    padding-left: 0;
    padding-right: 0;
}
.b-l-grey {
    border-left: 1px solid #ccc;
}
.buttons {
        font-size: 18px; 
    }

.bs-callout-danger {
    border-left-color: #19558A!important;
}
.bs-callout {
    padding: 10px;
    margin: 2px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex; 
}
.tableActivities td:active{
    background-color: #fffafa;
}
.hr-line-dashed {
  border-top: 1px dashed #A6A9AB;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}
.hr-line-solid {
  border-bottom: 1px solid #A6A9AB;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid !important;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media all and (max-width: 500px) { /* screen size until 500px */
    .tableActivities  {
        font-size: 0.8em; /* 0.8x default size */
        }
    .a_centername {
            font-size: 0.7em;
    }
    .a_title {
        font-size: 1.3em;
    }
    .dropin {
         font-size: 0.7em;
        line-height: 16px;
    }
    }