<div class="container-fluid " style="padding-bottom: 70px;">
    <div class="row ">
        <div class="col-xs-12" style="background-color: #EEEEEE;padding-bottom: 5px;padding-top: 5px;">
            <div class="col-xs-2 p-sides-none">
                Sort by:
            </div>
            <div class="col-xs-10 p-sides-none">
                <select ng-model="sortType">
                    <option value="name">Name</option>
                    <option value="startDate">Date</option>
                    <option value="price">Price</option>
                    <option value="attendStatus">Type/Duration</option>
                    <option value="latLng">Distance</option>
                </select>
                <!--<table class="col-xs-12 ">
                    <thead>
                    <tr >
                        <td>
                            <a ng-click="sortType = 'startDate'; sortReverse = !sortReverse" class="pointer">
                                Start Date
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a ng-click="sortType = 'price'; sortReverse = !sortReverse" class="pointer">
                                Price
                                <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a ng-click="sortType = 'attendStatus'; sortReverse = !sortReverse" class="pointer">
                                Type/Duration
                                <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a ng-click="sortType = 'latLng'; sortReverse = !sortReverse" class="pointer">
                                Distance
                                <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                    </tr>
                    </thead>
                </table>-->
            </div>
        </div>
    </div>

    <div class="row p-t-xxs">
        <div class="col-xs-12 p-sides-none">
            <table class="col-xs-12 tableActivities ">
                <tr ng-repeat="activity in allActivities | orderBy:sortType:sortReverse | filter:search:strict" class="pointer">
                    <td ui-sref="inner.activityDetails({activityId:activity.activityId})" style="border-bottom: 1px solid #ccc;padding-bottom: 7px;padding-top: 7px;">
                        <!--<div class="bs-callout bs-callout-danger">-->
                            
                                <div class="col-xs-6 text-left">
                                    <div><strong class="a_title" >{{activity.title}}</strong></div>
                                    <div class="text-muted"> {{activity.category}}</div>
                                    <div class="text-muted"> {{activity.registration}}</div>
                                    <div class="" style="color: #646161;font-weight: 600;">{{activity.centerName}}</div>
                                </div>
                        <div class="col-xs-6 text-left" style="padding-left: 0;">
                            <div>&nbsp;</div>
                            <div class="text-right">
                                {{formatDate(activity.startDate) | date:'MMM dd'}}
                                
                            </div>
                            <div class="text-left" style="color: #5B5252;font-weight: bolder;">
                                <i class="fa fa-gbp text-muted"></i>
                                {{activity.price}}
                            </div>
                            <div class="text-muted">
                                <div class="text-left">
                                    <span class="text-muted col-xs-4 p-sides-none"><i class="fa fa-refresh"></i>&nbsp;{{activity.attendStatus}}</span>
                                    <span class="text-muted col-xs-4 p-sides-none"><i class="fa fa-clock-o"></i>&nbsp;{{activity.startTime}}</span>
                                    <span class="text-muted col-xs-4 p-sides-none"><i class="fa fa-clock-o"></i>&nbsp;{{activity.endTime}}</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                               
                            
                        <!--</div>-->
                        <div class="clearfix"></div>
                    </td>
                </tr>
            </table>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
