<div class="container-fluid "  ng-click="alert('Do u want to delete');">
    <div class="row " ng-class="{ 'head-image-venues': currentVenues,'head-image-activities':currentActivities }">
        <div class="col-sm-10 col-sm-offset-1" style="padding-top: 6px; padding-bottom: 6px;">
            <!--<div class="form-group  has-feedback">
                <input type="text" class="form-control m-b-none" ng-model="search">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true" ng-click=""></span>
                <span id="inputGroupSuccess1Status" class="sr-only ">(success)</span>
            </div>-->
            <span class="input input--hoshi" style="margin: 0; max-width: 750px;" >
                <input class="input__field input__field--hoshi" type="text" id="input-4" ng-init="blur=true " ng-model="search" ng-blur="blur=true;focus=false" ng-focus="blur=false;focus=true" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-1 " for="input-4">
                    <span class="input__label-content input__label-content--hoshi" style="color: white;" >
                            <i class="fa fa-search fa-2x pull-right" ng-class="{ 'fa-search': blur, 'fa-times-circle': focus }" style="margin-right: -12px; margin-top: 5px;"></i>
                        &nbsp;Search
                    </span>
                </label>
            </span>
        </div>
        <div class="col-sm-10 col-centered" style="padding-top: 17px;padding-bottom: 5px;">
            <div class="col-xs-5 p-sides-none col-xs-offset-1">
                <a   ui-sref="inner.activitiesExposition.centers" class="button-underlined" ng-class="{ 'current_underlined': currentVenues }" >
                    VENUES
                    <span ng-if="search.length && urlState=='inner.activitiesExposition.centers'">
                        <strong>({{(centersz | filter:search:strict | filter:search).length}})</strong>
                    </span>
                </a>
                <!--<button class="btn btn-purple btn-block btn-xs" ui-sref="inner.activitiesExposition.centers">Centers</button>-->
            </div>
            <div class="col-xs-5 p-sides-none ">
                <a ui-sref="inner.activitiesExposition.activities" class="button-underlined" ng-class="{ 'current_underlined': currentActivities }" style="padding-right: 0; padding-left: 0;">
                    ACTIVITIES
                    <span ng-if="search.length && urlState=='inner.activitiesExposition.activities'">
                        <strong>({{(allActivitiesz | filter:search:strict | filter:search).length}})</strong>
                    </span>
                </a>
                <!-- <button class="btn btn-purple btn-block btn-xs" ui-sref="inner.activitiesExposition.activities">Activities</button>-->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!--<div class="row p-t-xs">

    </div>-->
    <div class="row ">
        <div ui-view=""></div>

    </div>

</div>