<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm col-centered" style="width: 300px;">
                <datepicker ng-model="dt" show-weeks="true" class=""></datepicker>

            </div>
            <p>New Line</p><p>New Line</p><p>New Line</p><p>New Line</p><p>New Line</p><p>New Line</p>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
</div>