<div class="container-fluid p-t-md" style="padding-right: 0px; padding-left: 0px;">
    
    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm col-centered" style="width: 300px;">
                <datepicker ng-model="dt" show-weeks="true" class=""></datepicker>

            </div>
            <div class="col-xs-10 col-xs-offset-1 p-t-xs">
                <blockquote>
                    <p>Event 1.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>

                <blockquote>
                    <p>Event 2.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
                <blockquote>
                    <p>Event 3.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
                <blockquote>
                    <p>Event 4.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
