<div class="container-fluid p-t-md" style="padding-right: 0px; padding-left: 0px;">
    
    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm col-centered" style="width: 300px;">
                <datepicker ng-model="dt" show-weeks="true" class=""></datepicker>

            </div>
            <p> <strong>Events</strong>
            </p>
            <p> <strong>Events</strong>
            </p>
            <p> <strong>Events</strong>
            </p>
            <p> <strong>Events</strong>
            </p>
            <p> <strong>Events</strong>
            </p>
            <p> <strong>Events</strong>
            </p>
            <p> <strong>Events</strong>
            </p>
            <p> <strong>Events</strong>
            </p>
            <p> <strong>Events</strong>
            </p>
            <p> <strong>Events</strong>
            </p>
            <p> <strong>Events</strong>
            </p>

            
            
        </div>
    </div>
</div>
