<div class="container-fluid" style="padding-bottom: 70px;">
    <div class="row ">
        <!--<div class="col-xs-8 col-centered ">
            <button class="btn btn-info btn-xs btn-block" ui-sref="inner.map_centers"><i class="fa fa-map-marker"></i>&nbsp;Centers map view</button>
        </div>-->
        <div class="row " style="padding: 0 15px;">
            <div class="col-xs-12" style="background-color: #EEEEEE; padding-bottom: 5px; padding-top: 5px;">
                <div class="col-xs-2 p-sides-none">
                    Sort by:
                </div>
                <div class="col-xs-8 p-sides-none">
                    <select ng-model="sortType" style="border: 0;width: 40%;">
                        <option value="price">Price</option>
                        <option value="latLng">Distance</option>
                    </select>
                </div>
                <div class="col-xs-2 text-info hidden-sm-up"><i class="fa fa-map-marker" style="color: black;" ui-sref="inner.map_centers"></i></div>
            </div>
        </div>

            <div class="col-xs-12 p-sides-none ">
                <table class="col-xs-12 tableActivities m-t-sm">
                    <tr ng-repeat="center in filteredCenters = ( centers | orderBy:sortType:sortReverse | filter:search:strict)" class="pointer">
                        <td ui-sref="inner.centerDetails({center:center.centerId})" style="border-bottom: 1px solid #ccc; padding-bottom: 7px; padding-top: 7px;">
                            <!--<div class="bs-callout bs-callout-danger">-->
                            <div class="col-xs-3 p-sides-none">
                                <div class="col-xs-12 p-sides-none">
                                    <div>
                                        <img src="{{center.logo}}" height="30px" width="40px" class=" col-xs-10 p-sides-none" style="padding-left: 10px;">
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-9 text-left p-sides-xs">
                                <div class="col-xs-12 p-sides-none">
                                    <div class="col-xs-10 p-sides-none">
                                        <h5 style="margin: 0;">
                                            <strong class="a_title2">{{center.centerName}}</strong>
                                        </h5>
                                    </div>
                                    <div class="col-xs-10 p-sides-none font-md">
                                          {{center.speciality}}
                                    </div>
                                    <div class="text-muted col-xs-12 p-sides-none">
                                        <span style="font-weight: 600;">{{center.street}}</span>
                                        <div class="p-sides-none pull-right">{{center.distance | fixDigit}} mi</div>
                                    </div>
                                </div>
                                <div class="text-muted col-xs-12 p-sides-none font-md">
                                    <i class="fa fa-shopping-cart"></i>&nbsp;
                                    <span style="font-weight: 500; color: #2F3237;">Activities: </span>
                                      <span style="font-weight: 600; color: #2D2D2D">{{len(center)}}</span>
                                    <div class="pull-right" style="font-weight: 600;"><i class="fa fa-phone"></i> {{center.phone}}
                                    </div>
                                </div>
                            </div>


                            <!-- </div>-->
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                    <tr ng-show="!filteredCenters.length"><td style="padding-top: 15px;font-weight: 500;"><i class="fa fa-archive fa-lg" style="color: #757373;"></i> No Centers available !</td></tr>
                </table>
                <div class="clearfix"></div>
            </div>
        </div>
</div>
