
<div class="container-fluid p-sides-xs header-menu device-header" style="color: #fff;">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-xs-4 p-none " style="padding-right: 0px;" ui-sref="home.login">
                <div class="col-xs-6 p-none header-p-t-b but-act">
                    <!--<i class="fa fa-chevron-left fa-lg pointer" style="vertical-align: text-bottom;"></i>-->
                    <img src="../img/Logo-menu.png" width="30" height="30">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container-fluid p-sides-none" style="padding-bottom: 70px;">
    <div class="card">
        <div class="col-xs-12 card-head" style="padding: 10px;padding-bottom: 0;">
            <div class="col-xs-6 p-sides-none">
                <div class="p-sides-none col-xs-12 text-left" style="font-size: 21px; font-weight: 400; line-height: 32px;">Scrabble Scrap</div>
                <div class="p-sides-none col-xs-12 text-left p-sides-none" style="color: rgba(0, 0, 0, 0.54); font-size: 11px; text-align: justify;padding-right: 9px;">Kick-start the week and give your mind a work out over a cup of coffee and game of scrabble.No need to book. You will need to register for free as a Timebank* member.
</div>
            </div>
            <div class="col-xs-6 p-sides-none">
                <div style="background-color: #fffff0;">
                    <img src="../img/grand.png" class="img-responsive"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-right card-foot"> 
            <button class="md-button md-default-theme md-ink-ripple" type="button" ui-sref="inner.activityDetails({activityId:8})"  ><span>DETAILS</span></button>
            <button class="md-button md-default-theme md-ink-ripple" type="button" ui-sref="inner.centerDetails({center:4})" ><span>VENUE</span></button>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="card">
        <div class="col-xs-12" style="padding: 10px;">
            <div class="col-xs-6 p-sides-none">
                <div class="p-sides-none col-xs-12 text-left" style="font-size: 21px; font-weight: 400; line-height: 32px;">Craft Class</div>
                <div class="p-sides-none col-xs-12 text-left p-sides-none" style="color: rgba(0, 0, 0, 0.54); font-size: 11px;text-align: justify;padding-right: 9px;">Come along for a couple of hours of craft fun.
Note: these sessions are not free. Please contact the venue for details of charges (020 7794 6588)
</div>
            </div>
            <div class="col-xs-6 p-sides-none">
                <div style="background-color: #fffff0;">
                    <img src="../img/scrabble.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-right card-foot">
            <button class="md-button md-default-theme md-ink-ripple" type="button" ui-sref="inner.activityDetails({activityId:13})" ><span>DETAILS</span></button>
            <button class="md-button md-default-theme md-ink-ripple" type="button" ui-sref="inner.centerDetails({center:5})" ><span>VENUE</span></button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="text-center" style="margin-top: 14px; font-size: 11px;">
        <a class="pointer" ui-sref="home.login">Already have an account? Login here</a><br />
        <a class="pointer" ui-sref="home.register">Don't have an account? Sign up here</a>
        
    </div>
</div>