<div class="container-fluid col-centered" >
    <div class="row p-t-md">
        <div class="col-sm-8 col-sm-offset-2 ">
            <h4>Welcome to Recommend.Me</h4>
        </div>
    </div>
    <div class="row p-t-sm">
        <div class="col-sm-8 col-sm-offset-2">
            <h6>I would like to dicsover..</h6>
        </div>
    </div>
    <div class="row p-t-xl">
        <div class="col-sm-6 col-sm-offset-3">
            <input type="button" class="btn btn-primary btn-block btn-lg buttons" style="" value="Specific activity"/>
        </div>
    </div>
    <div class="row p-t-md">
        <div class="col-sm-2 col-sm-offset-5">
            <h5>Or</h5>
        </div>
    </div>
    <div class="row p-t-md">
        <div class="col-sm-6 col-sm-offset-3">
            <input type="button" class="btn btn-primary btn-block btn-lg" value="Activities and centers" />
        </div>
    </div>
</div>
