<div class="container-fluid  m-t-lg">
    <div class="col-xs-12 m-b-lg  m-t-lg">
        <h4> Would you be willing to answer 2 quick questions?</h4>
    </div>
    <div class="col-xs-12 m-b-lg">
        <h6> It will Help us improve your recomendations and app experience</h6>
    </div>
    <div class="col-xs-12 m-t-lg">
        <div class="col-xs-6">
            <button class="btn btn-green btn-block btn-rounded-none" ui-sref="inner.q2"><strong>Yes</strong></button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-red btn-block btn-rounded-none" ui-sref="inner.main_page"><strong>NOT NOW</strong></button>
        </div>
    </div>
</div>
