<div class="container-fluid  m-t-lg">
    <div class="col-xs-12 m-b-lg  m-t-lg">
        <h4> Would you be willing to answer 2 quick questions?</h4>
    </div>
    <div class="col-xs-12 m-b-lg">
        <h6> It will Help us improve your recomendations and app experience</h6>
    </div>
    <div class="col-xs-12 m-t-lg">
        <div class="col-xs-6">
            <button class="btn btn-success btn-block" ui-sref="inner.q2">Yes</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-danger btn-block" ui-sref="inner.main_page">NOT NOW</button>
        </div>
    </div>
</div>
