<div class="container-fluid m-t-xs font-x-larg">
    <div class="col-xs-12 m-b-md  m-t-md text-muted">
        <h6> HOW DO YOU FEEL ABOUT THE FOLLOWING STATMENT :</h6>
    </div>
    <div class="col-xs-12 m-b-md m-t-xs text-muted">
        <strong> I would rather go sightseeing with friends than alone.</strong>
    </div>

    <div class="col-xs-12 p-sides-none ">
        <div class="col-xs-12">
            <div class="col-xs-6 p-sides-none text-sm line-h-sm" style="line-height: 55px;font-size: 12px;"><span>STRONGLY AGREE</span></div>
            <div class="col-xs-4 p-sides-none text-left" ><i class="fa fa-circle fa-4x" style="color: #E0A00B" ui-sref="inner.activitiesExposition.centers"></i></div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6 p-sides-none"><span></span></div>
            <div class="col-xs-4 p-sides-none text-left"><i class="fa fa-circle fa-4x" style="color: #27BF68" ui-sref="inner.activitiesExposition.centers"></i></div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6 p-sides-none text-sm line-h-sm" style="line-height: 55px;font-size: 12px;"><span>Neutral</span></div>
            <div class="col-xs-4 p-sides-none text-left"><i class="fa fa-circle fa-4x" style="color: #2880C0" ui-sref="inner.activitiesExposition.centers"></i></div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6 p-sides-none" style="line-height: 55px;font-size: 12px;"><span></span></div>
            <div class="col-xs-4 p-sides-none text-left"><i class="fa fa-circle fa-4x" style="color: #9E27BF" ui-sref="inner.activitiesExposition.centers"></i></div>

        </div>
        <div class="col-xs-12">
            <div class="col-xs-6 p-sides-none text-xs line-h-sm" style="line-height: 55px;font-size: 12px;"><span>STRONGLY DISAGREE</span></div>
            <div class="col-xs-4 p-sides-none text-left"><i class="fa fa-circle fa-4x" style="color: #BF2734" ui-sref="inner.activitiesExposition.centers"></i></div>
        </div>
    </div>

    <div class="col-xs-12 text-danger" style="padding-top: 10%;">
        <div class="col-xs-6 col-xs-offset-3">
            <a ui-sref="inner.activitiesExposition.centers">SKIP <i class="fa fa-chevron-right"></i></a>
        </div>
    </div>
</div>