<div class="container-fluid p-sides-xs header-menu device-header" ng-show="offline" style="color: #F1F1F1;">
    <div class="row" >
        <div class="col-sm-12">
            <div class="col-xs-6 p-none " style="padding-right: 0px;">
                <div class="col-xs-2 p-none header-p-t-b but-act" ng-if="back" ng-click="back()">
                    <i class="fa fa-chevron-left fa-lg pointer" style="vertical-align:text-bottom;" ></i>
                </div>
                <div class="col-xs-10 p-none header-p-t-b" >
                    <div class="col-centered " >
                        <i class="fa fa-user fa-lg" style="    font-size: 1.1em;"></i>
                        <span class="header-username"><strong >{{globalName}}</strong>  </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 p-sides-xs" style="padding-left: 0;">
                <div class="col-xs-4 header-p-t-b but-act" ui-sref="inner.notification">
                    <i class="fa fa-bell pointer"></i>
                </div>
                <div class="col-xs-4 b-l-grey header-p-t-b but-act" ui-sref="inner.calendar">
                    <i class="fa fa-calendar-o pointer" ></i>
                </div>
                <div class="col-xs-4 b-l-grey header-p-t-b but-act">
                    <i class="fa fa-jsfiddle pointer"></i>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        
    </div>
</div>