
<div class="container noselect">
    <div class="alert alert-info" style="margin-bottom: 3px; padding: 7px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-2 text-center">
                    <strong>INFO!</strong>
                </div>
                <div class="col-sm-4 text-center">
                    Width :{{containerWidth}} <i class="fa fa-arrow-down text-danger pointer" ng-click="resizeContainer('dec')">Dec</i>&nbsp;<i class="fa fa-arrow-up text-success pointer" ng-click="resizeContainer('inc')">Inc</i>
                </div>
                <div class="col-sm-4 text-center">
                    Height :{{containerHeight}} <i class="fa fa-arrow-down text-danger pointer">Dec</i>&nbsp;<i class="fa fa-arrow-up text-success pointer">Inc</i>
                </div>
            </div>
        </div>
    </div>
</div>